/* FOOTER */

.footer {
  background-color: $light_gray;
  @include mq($max-767) {
    text-align: center;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    @include mq($max-767) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__links {
    @include mq($max-767) {
      margin-bottom: 20px;
    }
    ul {
      display: flex;
    }
    a {
      font-size: 14px;
      font-weight: 800;
      margin-right: 20px;
    }
  }
  &__socials {
    ul {
      display: flex;
    }
    a {
      width: 16px;
      height: 16px;
      &:hover {
        fill: $red;
      }
      svg {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .copyright {
    padding: 13px 15px;
    background-color: $black;
    p {
      font-size: 12px;
      margin-bottom: 0;
    }
  }
}
